@import "tailwindcss";

@theme {
    --color-primary: #f97316;
    --font-family-sans: 'Poppins', sans-serif;
    --animate-spin-slow: spin-slow 6s linear infinite;
}

@keyframes spin-slow {
    to {
        transform: rotate(360deg);
    }
}

@layer components {
    .primary-btn {
        @apply bg-primary text-white font-bold px-4 py-2 rounded-full;
    }

    .secondary-btn {
        @apply bg-gray-300 text-black font-bold px-4 py-2 rounded-full;
    }
}

@layer utilities {
    .img-shadow {
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4))
    }
}


